/* App Menu Style Sheet. Meets AA Accessibility standards. Created April 2026. */
    @font-face {
        font-family: 'IM Fell English SC';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(im-fell-english-sc.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    * {
        font-family: 'IM Fell English SC', serif;
    }

    body {
        background-color: transparent;
    }

    h1 {
        text-shadow: 0.5px 0.5px 1px ThreeDHighlight, 0 0 1em ThreeDLightShadow, 0 0 0.02em ThreeDFace;
    }

    h2, h3, p {
        text-shadow: 0.5px 0.5px 1px ThreeDFace, 0 0 1em ThreeDLightShadow, 0 0 0.02em ThreeDHighlight;
    }

    .body {
        margin: 0 auto;
        box-sizing: border-box;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: whitesmoke;
        overflow: auto;
        width: fit-content;
        height: fit-content;
    }

    .global-header {
        z-index: 10;
        background-color: #1c5280;
        margin: 4px;
        padding: 8px;
        color: #fff;
        border-radius: 6px;
    }

    .visuallyhidden {
        display: none;
        visibility: collapse;
    }

    .logo-link {
        text-decoration: none;
    }

    .img-logo {
        margin: 0 0 -24px 0;
        width: 64px;
        transform: scale(1.2);
    }

    .app-name {
        white-space: nowrap;
        color: #fac550;
        font-size: 28px;
        font-weight: 600;
        margin-left: 10px;
        text-shadow: 0.5px 0.5px 1px ThreeDFace, 0 0 1em ThreeDHighlight, 0 0 0.02em ThreeDLightShadow;
    }

    .system-type {
        margin-left: 30px;
        text-shadow: 0.5px 0.5px 1px ThreeDHighlight, 0 0 1em ThreeDLightShadow, 0 0 0.02em ThreeDFace;
    }

    .devapplist a:link {
        color: #fff;
        text-decoration: none;
    }

        .devapplist a:link:hover {
            color: #fff;
            opacity: 0.8;
        }

    .FooterText a:link {
        font-weight: normal;
        color: #00ffff;
        text-decoration: underline;
        text-shadow: 0.5px 0.5px 1px #000, 0 0 1em ThreeDFace, 0 0 0.2em darkred;
        text-decoration: none;
    }

    .FooterText a:visited {
        font-weight: normal;
        color: #999999;
    }

    .FooterText a:active {
        font-weight: normal;
        color: #999999;
    }

    .FooterText a:hover {
        font-weight: normal;
        color: #FF6600;
    }

    .closeButton {
        font-size: 12px;
        opacity: 0.9;
        font-weight: 400;
        cursor: pointer;
        background: darkred;
        color: goldenrod;
        height: 20px;
        position: absolute;
        padding: 2px 4px;
        margin: 0;
        border: 2px solid #f1f1f1;
        box-sizing: border-box;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
    }

    .s3Dbtn:hover {
        opacity: 0.7;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.09);
        font-weight: 100;
        color: red;
    }

    .hover-btn {
        padding: 2px 4px;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        -moz-transform: perspective(1px) translateZ(0);
        -ms-transform: perspective(1px) translateZ(0);
        -o-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: #111111;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: goldenrod;
        border: 1px groove grey;
        border-radius: 5px;
    }

        .hover-btn::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #38c8a8;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 50%;
            -moz-transform-origin: 50%;
            -ms-transform-origin: 50%;
            -o-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            -moz-transition-property: transform;
            -o-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            display: block !important;
        }

        .hover-btn:hover::before, .hover-btn:focus::before, .hover-btn:active::before {
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
        }

        .hover-btn:hover, .hover-btn:focus, .hover-btn:active {
            color: white;
            box-shadow: none;
        }

    .bluhover:hover {
        color: red;
        text-shadow: 1px 1px #0000ff;
    }

    .center-text {
        text-align: center;
    }

    section {
        padding: 10px 30px;
    }

    .devapplist {
        box-sizing: border-box;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        border-radius: 5px;
        border: 1px ridge #ccc;
        background-color: #CCA43D96;
        width: fit-content;
        position: absolute;
        left: -110px;
        padding: 4px 0;
        min-width: 140px;
    }

        .devapplist:hover {
            background-color: #00000094;
            width: fit-content;
            left: 10px;
            z-index: 100;
        }

    nav > div > ul {
        list-style: none;
    }

        nav > div > ul > li {
            margin: 10px 0 0 -24px;
        }
